<h1>Study Buddy</h1>
<h2>Matching Quiz</h2>
<div class="matching-quiz-load-button-area">
	<button (click)="createNew()"
			class="btn btn-outline-secondary"
			type="button">Create New
	</button>
	<button (click)="setToEdit()"
			[ngClass]="{
				'hidden': quiz.value.quiz === null || quiz.value.mode === 'EDIT'
			}"
			class="btn btn-outline-secondary"
			type="button">Edit
	</button>
	<input (change)="loadFile($event)"
		   [id]="id"
		   accept=".json,application/json"
		   class="hidden"
		   type="file"/>
	<button (click)="showOpenFileDialog()"
			class="btn btn-outline-secondary"
			type="button">Open
	</button>
</div>

<app-matching-quiz-editor *ngIf="quiz.value.mode === 'EDIT'"
						  [quiz]="quiz"></app-matching-quiz-editor>

<app-matching-quiz-game *ngIf="quiz.value.quiz !== null && quiz.value.mode === 'PLAY'"
						[quiz]="quiz"></app-matching-quiz-game>
