<h3>{{quiz.value.quiz.name}}</h3>
<div class="game-button-area">
	<button (click)="startNew()"
			class="btn btn-primary">New Game
	</button>
	<button (click)="score()"
			*ngIf="wordsList.length > 0"
			class="btn btn-success">Score
	</button>
</div>
<div *ngIf="wordsList.length > 0"
	 class="row">
	<div class="col-md-3">
		<h4>Words</h4>

		<div (cdkDropListDropped)="onWordDrop($event)"
			 cdkDropList
			 class="matching-quiz-game-word-list">
			<div *ngFor="let entry of wordsList"
				 cdkDrag
				 class="matching-quiz-game-word">{{entry.word}}</div>
		</div>
	</div>
	<div class="col-md-3">
		<h4>Definitions</h4>

		<div (cdkDropListDropped)="onDefinitionDrop($event)"
			 cdkDropList
			 class="matching-quiz-game-word-list">
			<div *ngFor="let entry of definitionsList"
				 cdkDrag
				 class="matching-quiz-game-word">{{entry.definition}}</div>
		</div>
	</div>
</div>
