<h3>New Matching Quiz</h3>
<div class="matching-quiz-file-button-area">
	<button (click)="setPlayMode()"
			class="btn btn-outline-info">Play
	</button>
	<a [download]="quiz.value.quiz.name + '.json'"
	   [href]="url"
	   [ngClass]="{
	   	'disabled': url === undefined || url === null
	   }"
	   class="btn btn-outline-primary"
	   target="_blank">Save</a>
</div>
<div class="form-group">
	<label>
		Name
		<input (change)="updateJson()"
			   [(ngModel)]="quiz.value.quiz.name"
			   class="form-control"
			   maxlength="50"
			   minlength="1"
			   pattern="^([a-zA-Z0-9\\_\\-\\s]){1,50}$"
			   placeholder="Animal noises"
			   required
			   type="text"/>
	</label>
</div>
<div class="form-group count-to-show">
	<label>
		Count to Show
		<input (change)="updateJson()"
			   [(ngModel)]="quiz.value.quiz.countToShow"
			   class="form-control-range"
			   max="25"
			   min="2"
			   required
			   type="range"/>
		<input [value]="quiz.value.quiz.countToShow"
			   class="form-control"
			   readonly
			   type="text"/>
	</label>
</div>
<div class="matching-quiz-entries">
	<div *ngFor="let entry of quiz.value.quiz.entries; index as entryIndex"
		 class="matching-quiz-entry">
		<button (click)="deleteEntry(entryIndex)"
				class="btn btn-sm btn-outline-danger"
				type="button">X
		</button>
		<div class="matching-quiz-entry-inner-area">
			<div class="form-group">
				<label>
					Word/Phrase
					<input (change)="updateJson()"
						   [(ngModel)]="entry.word"
						   class="form-control"
						   maxlength="50"
						   minlength="1"
						   pattern="^([a-zA-Z0-9\\_\\-\\s]){1,50}$"
						   placeholder="Dog"
						   required
						   type="text"/>
				</label>
			</div>
			<div class="form-group">
				<label>
					Definition
					<textarea (change)="updateJson()"
							  [(ngModel)]="entry.definition"
							  class="form-control"
							  placeholder="Either a 'arf' or 'woof' sound"
							  required></textarea>
				</label>
			</div>
		</div>
	</div>
	<button (change)="updateJson()"
			(click)="addEntry()"
			class="btn btn-outline-success"
			type="button">Add
	</button>
</div>
